# Ignore in source build files ...
CMakeBuild
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

bin
lib

# Ignore all dotfiles...
.*
!.circleci-matrix.yml
!.travis.yml

# Ignore all back-up files...
*~
*.bak

# except for .gitignore
!.gitignore

# Exclude QtCreator files
CMakeLists.txt.user*

# Ignore ctags file
tags

# Ignore pyc files
*.pyc

# Ignore Python source directories
cython-*/
Python-*/

# Ignore Python source archives
Python-*.tgz
Python-*.zip
