name: CI

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  tests:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [macos-latest]
        python-version: [3.7.17, 3.8.20, 3.9.22]
        include:
          - runs-on: macos-latest
            c-compiler: "clang"
            cxx-compiler: "clang++"
            initial-dashboard-cache: "CMAKE_OSX_DEPLOYMENT_TARGET:STRING=10.13"

    name: python-${{ matrix.python-version }}-${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        path: src

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13.1
      with:
        cmake-version: 3.13.5

    - name: Setup ninja
      uses: ashutoshvarma/setup-ninja@master
      with:
        version: 1.10.0

    - name: Download dashboard script
      uses: actions/checkout@v3
      with:
        repository: 'python-cmake-buildsystem/python-cmake-buildsystem'
        ref: dashboard
        fetch-depth: 0
        path: scripts

    - name: Writing initial dashboard cache
      shell: bash
      run: |
        cat > scripts/initial-dashboard-cache.txt << EOF
        ${{ matrix.initial-dashboard-cache }}
        EOF
        cat scripts/initial-dashboard-cache.txt

    - name: Build & Test
      run: ctest --timeout 360 -S scripts/github_actions_dashboard.cmake -VV
      env:
        PY_VERSION: ${{ matrix.python-version }}
        CC: ${{ matrix.c-compiler }}
        CXX: ${{ matrix.cxx-compiler }}
