name: CI

on:
  pull_request:
  push:
    branches:
    - portable-python

env:
  MACOSX_DEPLOYMENT_TARGET: 10.5

jobs:
  tests:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        runs-on: [macos-latest]
        python-version: [3.8.18, 3.9.18, 3.10.13, 3.11.7]

    name: python-${{ matrix.python-version }}-${{ matrix.runs-on }}
    steps:
    - uses: actions/checkout@v3

    - name: Setup cmake
      uses: jwlawson/actions-setup-cmake@v1.13.1
      with:
        cmake-version: 3.13.5

    - name: Instal dependencies
      run: |
        brew install --build-from-source tcl-tk

    - name: Build
      run: |
        mkdir -p python-build && mkdir -p python-install
        cd python-build
        cmake \
          -DCMAKE_INSTALL_PREFIX:PATH=${{ github.workspace }}/python-install \
          -DCMAKE_OSX_DEPLOYMENT_TARGET=${{ env.MACOSX_DEPLOYMENT_TARGET }} \
          -DCMAKE_C_STANDARD=99 \
          -DPYTHON_VERSION=${{ matrix.python-version }} \
          ..
        make -j4
        make install

    - name: Test
      run: |
        ./python-install/bin/python -m test || true
